<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div ng-controller="userController">
  <h1>user info</h1>
</div>

<form role="form">

  <div class="form-group">
    <label for="first name">First Name:</label>
    <input type="first name" class="form-control" id="first name">
  </div>


  <div class="form-group">
    <label for="last name">Last Name:</label>
    <input type="last name" class="form-control" id="last name">
  </div>


  <div class="form-group">
    <label for="company name">Company Name:</label>
    <input type="company name" class="form-control" id="company name">
  </div>


  <div class="form-group">
    <label for="title">Title:</label>
    <input type="title" class="form-control" id="title">
  </div>


  <div class="form-group">
    <label for="email address">Email Address:</label>
    <input type="email address" class="form-control" id="email address">
  </div>


  <div class="form-group">
    <label for="mailing address">Mailing Address:</label>
    <input type="mailing adress" class="form-control" id="mailing address">
  </div>


  <div class="form-group">
    <label for="credit card">Credit Card:</label>
    <input type="credit card" class="form-control" id="credit card">
  </div>


  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">What type of company are you?
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Agency</a></li>
    <li><a href="#">Brand</a></li>
    <li><a href="#">Media Group</a></li>
    <li><a href="#">Other</a></li>
  </ul>
  </div>


  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">How familiar are you with Display Advertising?
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">I have used in the past and I loved it.</a></li>
    <li><a href="#">I have used in the past and it did not work for me.</a></li>
    <li><a href="#">I am currently using it and I don't know how I feel about it.</a></li>
    <li><a href="#">I do not know what you are talking about.</a></li>
  </ul>
  </div>


  <button type="submit" class="btn btn-default">Submit</button>

</form>
</div>
</body>
</html>